USE [master]
GO
/****** Object:  Database [La super base de datos]    Script Date: 02/09/2017 09:53:40 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'La super base de datos')
BEGIN
CREATE DATABASE [La super base de datos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'La super base de datos', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\La super base de datos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'La super base de datos_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\La super base de datos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [La super base de datos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
